<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>
<body>
    <div>
        <h2>Template html</h2>
        <a href="/" type="button">Refresh</a>
    </div>
    <div>
        {{ .message}}
    </div>

   <form method="POST" action="/" enctype="multipart/form-data">
       <div>
            <input type="text" name="name" />
       </div>
       <div>
            <input type="file" name="filename" accept=".jpg,.jpeg,.png" />
       </div>
       <div>
           <textarea type="text" rows="10" cols="10" name="message">
           </textarea>
       </div>
       <button type="reset" >Reset</button>
       <button type="submit">Submit</button>
   </form> 

   <br>
   <br>

   <div>
       <p>Form message {{ .formmessage}}</p>
       <p>Form name {{ .formname}}</p>
   </div>

   <hr>

   <div>
       <h4>details: </h4>
       <p>Uploaded file {{ .SavedFileName }}</p>
       <p>Uploaded size {{ .SavedFilesize }}</p>
   </div>

   <div>
       <img src="/{{ .SavedFileName }}" width="200px" height="200px" />
   </div>
</body>
</html>